.main_header {
  padding: 0 9rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  /*background-color: yellow;*/
  /*background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);*/
  background-size: 400% 400%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar_brand {
  text-align: left;
}

.navbarList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.2rem;
}

.navbarItem {
  height: 100%;
  display: grid;
  place-items: center;
}

.navbarList a {
  font-weight: bold;
  font-size: 1.8rem;
  color: #161617;
  padding: 1.3rem 1rem;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/*.navbarList .navbarItem a:hover {*/
/*    color: #e50914;*/
/*}*/

.navbarItem a:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.5rem;
  background-color: #e50914;
  left: -100%;
}

.navbarItem a:hover:before {
  animation: coolNavLine 0.4s linear forwards;
}

@keyframes coolNavLine {
  0% {
    left: -100%;
    height: 0.5rem;
  }
  50% {
    left: 0;
    height: 0.5rem;
  }
  100% {
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.navbarList .navbarItem a:hover {
  color: #fff;
}

.mobile-navbar-btn {
  display: none;
}

.mobile-nav-icon {
  cursor: pointer;
}

.mobile-navbar-btn .close-outline {
  display: none;
}

.mobile-navbar-btn[name="close-outline"] {
  display: none;
}

@media screen and (max-width: 999px) {
  .main_header {
    padding: 0 3.5rem;
  }

  .rescontact {
    margin-right: 5px;
  }

  .reshome {
    margin-left: -4px;
  }

  .resmovie {
    margin-right: 6px;
  }

  .resabout {
    margin-left: -1px;
  }
}
